body {
    box-sizing: border-box;
    margin: 0;
}

#logo {
    width: 350px;
}

nav {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 550px;
}

nav a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#social img {
    width: 50px;
}